body {
  font: 24px "Arial", Verdana, "Trebuchet MS", Georgia, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
  background-color: #000;
  color: #83c1f5;
  -webkit-font-smoothing: antialiased;
}

.presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 1024px;
  height: 768px;
  left: 50%;
  top: 50%;
  margin-top: -384px;
  background: #000 url(../img/background-with-gradient.jpg) no-repeat top left;
  -webkit-transition: margin 0.25s ease-in-out;
  -moz-transition: margin 0.25s ease-in-out;
  -o-transition: margin 0.25s ease-in-out;
  transition: margin 0.25s ease-in-out;
}

.slide p, .slide textarea {
  font-size: 20px;
}

.slide .counter {
  color: #999999;
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: block;
  font-size: 12px;
}

.slide.title > .counter,
.slide.segue > .counter,
.slide.mainTitle > .counter {
  display: none;
}

.slide .slidesteps {
  color: #999;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: block;
  font-size: 12px;
}

.force-render {
  display: block;
  visibility: hidden;
}
      
.slide.far-past {
  display: block;
  margin-left: -2048px;
}

.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1536px;
}
      
.slide.current {
  visibility: visible;
  display: block;
  margin-left: -512px;
}
      
.slide.future {
  visibility: visible;
  display: block;
  margin-left: 512px;
}
      
.slide.far-future {
  display: block;
  margin-left: 1536px;
}

body.three-d div.slides {
  -webkit-transform: scale(0.78);
  -moz-transform: scale(0.78);
  -o-transform: scale(0.78);
  transform: scale(0.78);
}
            
h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-shadow: none;
}
      
h2 {
  font-size: 3em;
  font-weight: bold;
  padding: 0;
  margin: 50px 0 0 0;
  text-shadow: 1px 1px 1px #1b5d94;
  width: 100%;
}

section, footer {
  font-family: 'Arial';
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  display: block;
}

section {
  width: 100%;
  height: 100%;
}
      
footer {
  font-size: 12px;
  margin: 20px 0 0 30px;
}

.summary {
  font-size: 30px;
}

pre {
  text-align: left;
  font-family: Courier;        
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0 10px;
}
        
pre b {
  font-weight: normal;
  color: #c61800;
  text-shadow: #c61800 0 0 1px;
}

pre em {
  font-weight: normal;
  font-style: normal;
  color: #18a600;
  text-shadow: #18a600 0 0 1px;
}

.hidden {
  display: none;
}

ol {
  width: 50%;
  margin: 1em auto;
  padding-left: 20px;
  font-size: 2.5em;
  text-align: left;
  text-shadow: 1px 1px 1px #1b5d94;
}

li {
  padding: 15px 0;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

figcaption {
  margin: 0;
  color: #fff;
  font-size: 0.8em;
  z-index: 1;
  position: absolute;
  bottom: 5px;
  right: 10px;
  text-align: right;
  width: 100%;
}

figcaption .left {
  position: absolute;
  display: block;
  left: 15px;
  text-align: left;
}

figcaption.bothsides {
  right: 30px;
}

figcaption.bothsides .left {
  left: 50px;
}

h2.top {
  height: 100px;
  line-height: 100px;
  margin-top: 40px;
}

h2.bottom {
  height: 100px;
  line-height: 100px;
  bottom: 30px;
  position: absolute;
  text-align: center;
}

h2.central {
  margin-top: 30%;
}

.twocols {
  margin-top: 120px;
}

.twocols .left {
  width: 50%;
  float: left;
}

.twocols .right {
  width: 50%;
  margin-left: 50%;
}

/* Slide-specific styles */

.slide.intro {
  background: url(../img/intro-slide-background.jpg) no-repeat top left;
  /*background-size: 100% 100%;*/
}

.intro h1,
.intro h2 {
  position: relative;
  transform: rotate(-0.5deg);
  -webkit-transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  text-align: center;
  -webkit-text-stroke: 1px #000; /* #83c1f5; */
  text-shadow: 1px 1px 0px #000;
}

.intro h1 {
  top: 270px;
  left: 250px;
  width: 700px;
}

.intro h2 {
  font-size: 1.8em;
  top: 0px;
  left: 250px;
  width: 700px;
}

.what-ar-is h2 {
  font-size: 2.5em;
}

.location-based-ar figcaption {
  position: relative;
  top: -30px;
  width: 560px;
  margin: 0 auto;
  text-align: right;
  right: auto;
}

.qrcode-race h3 {
  font-size: 2.8em;
  padding-top: 120px;
  text-align: left;
}

.ar-on-the-go img,
.ar-in-the-home img {
  margin-top: 80px;
}

.webrtcdemo canvas {
  /* XXX Hack to overcome problem with canvas size - trying to get it to end up being 1024x768 */
  /* Fudged for Chrome Canary - bound to break in any other browser */
  /*
  width: 1638px;
  height: 1229px;
  margin-left: -614px;
  */
}

.webrtcdemo #debugCanvas {
  float: left;
}

