/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of CSS Reset */

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), local('Arimo-Regular'), url('../fonts/Arimo/Arimo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arimo Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), local('Arimo-Bold'), url('../fonts/Arimo/Arimo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Arimo Italic';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), local('Arimo-Italic'), url('../fonts/Arimo/Arimo-Italic.ttf') format('truetype');
}

body {
  font: 24px "Arial", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
  background-color: #000;
  color: #83c1f5;
  -webkit-font-smoothing: antialiased;
}

.presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 1024px;
  height: 768px;
  left: 50%;
  top: 50%;
  margin-top: -384px;
  background: #000 url(../img/background-with-gradient.jpg) no-repeat top left;
  background-size: 100% 100%;
  -webkit-transition: margin 0.25s ease-in-out;
  -moz-transition: margin 0.25s ease-in-out;
  -o-transition: margin 0.25s ease-in-out;
  transition: margin 0.25s ease-in-out;
}

.force-render {
  display: block;
  visibility: hidden;
}
      
.slide.far-past {
  display: block;
  margin-left: -2560px;
}

.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1536px;
}
      
.slide.current {
  visibility: visible;
  display: block;
  margin-left: -512px;
}
      
.slide.future {
  visibility: visible;
  display: block;
  margin-left: 512px;
}
      
.slide.far-future {
  display: block;
  margin-left: 1536px;
}

/* Responsive slide sizes */

/* 480 x 320 */
@media (max-width: 639px) {
  body {
    font-size: 11.25px;
  }
  .slide {
    width: 480px;
    height: 320px;
    margin-top: -160px;
  }
  .slide.far-past {
    margin-left: -1200px;
  }
  .slide.past {
    margin-left: -720px;
  }
  .slide.current {
    margin-left: -240px;
  }
  .slide.future {
    margin-left: 240px;
  }
  .slide.far-future {
    margin-left: 720px;
  }
}

/* 640 x 480 */
@media (max-width: 799px) {
  body {
    font-size: 15px;
  }
  .slide {
    width: 640px;
    height: 480px;
    margin-top: -240px;
  }
  .slide.far-past {
    margin-left: -1600px;
  }
  .slide.past {
    margin-left: -960px;
  }
  .slide.current {
    margin-left: -320px;
  }
  .slide.future {
    margin-left: 320px;
  }
  .slide.far-future {
    margin-left: 960px;
  }
}

/* 800 x 600 */
@media (min-width: 800px) and (max-width: 1023px) {
  body {
    font-size: 18.75px;
  }
  .slide {
    width: 800px;
    height: 600px;
    margin-top: -300px;
  }
  .slide.far-past {
    margin-left: -2000px;
  }
  .slide.past {
    margin-left: -1200px;
  }
  .slide.current {
    margin-left: -400px;
  }
  .slide.future {
    margin-left: 400px;
  }
  .slide.far-future {
    margin-left: 1200px;
  }
}

/* 1152 x 864 */
@media (min-width: 1152px) {
  body {
    font-size: 27px;
  }
  .slide {
    width: 1152px;
    height: 864px;
    margin-top: -432px;
  }
  .slide.far-past {
    margin-left: -2880px;
  }
  .slide.past {
    margin-left: -1728px;
  }
  .slide.current {
    margin-left: -576px;
  }
  .slide.future {
    margin-left: 576px;
  }
  .slide.far-future {
    margin-left: 1728px;
  }
}

/* 1280 x 960 */
@media (min-width: 1280px) {
  body {
    font-size: 30px;
  }
  .slide {
    width: 1280px;
    height: 960px;
    margin-top: -480px;
  }
  .slide.far-past {
    margin-left: -2560px;
  }
  .slide.past {
    margin-left: -1920px;
  }
  .slide.current {
    margin-left: -640px;
  }
  .slide.future {
    margin-left: 640px;
  }
  .slide.far-future {
    margin-left: 1920px;
  }
}

/* 1440 x 1080 */
@media (min-width: 1440px) {
  body {
    font-size: 33.75px;
  }
  .slide {
    width: 1440px;
    height: 1080px;
    margin-top: -540px;
  }
  .slide.far-past {
    margin-left: -3600px;
  }
  .slide.past {
    margin-left: -2160px;
  }
  .slide.current {
    margin-left: -720px;
  }
  .slide.future {
    margin-left: 720px;
  }
  .slide.far-future {
    margin-left: 2160px;
  }
}

/* 1600 x 1200 */
@media (min-width: 1600px) {
  body {
    font-size: 37.5px;
  }
  .slide {
    width: 1600px;
    height: 1200px;
    margin-top: -600px;
  }
  .slide.far-past {
    margin-left: -4000px;
  }
  .slide.past {
    margin-left: -2400px;
  }
  .slide.current {
    margin-left: -800px;
  }
  .slide.future {
    margin-left: 800px;
  }
  .slide.far-future {
    margin-left: 2400px;
  }
}

/* 1920 x 1440 */
@media (min-width: 1920px) {
  body {
    font-size: 45px;
  }
  .slide {
    width: 1920px;
    height: 1440px;
    margin-top: -720px;
  }
  .slide.far-past {
    margin-left: -4800px;
  }
  .slide.past {
    margin-left: -2880px;
  }
  .slide.current {
    margin-left: -960px;
  }
  .slide.future {
    margin-left: 960px;
  }
  .slide.far-future {
    margin-left: 2880px;
  }
}


body.three-d div.slides {
  -webkit-transform: scale(0.78);
  -moz-transform: scale(0.78);
  -o-transform: scale(0.78);
  transform: scale(0.78);
}
            
h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-shadow: none;
}
      
h2 {
  font-size: 3em;
  font-weight: bold;
  padding: 0;
  margin: 5% 0 0 0;
  text-shadow: 1px 1px 1px #1b5d94;
  width: 100%;
}

footer {
  font-size: 12px;
  margin: 20px 0 0 30px;
}

.summary {
  font-size: 30px;
}

pre {
  text-align: left;
  font-family: Courier;        
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0 10px;
}
        
pre b {
  font-weight: normal;
  color: #fff;
  text-shadow: #c61800 0 0 1px;
}

pre em {
  font-weight: normal;
  font-style: normal;
  color: #aff7ff;
}

a {
  color: #fff;
}

.hidden {
  display: none;
}

ol {
  width: 50%;
  margin: 1em auto;
  padding-left: 2%;
  font-size: 2.5em;
  text-align: left;
  text-shadow: 1px 1px 1px #1b5d94;
}

li {
  padding: 15px 0;
  font-style: italic;
}

li:nth-child(odd) {
  color: #5398d2;
}

li span {
  font-style: normal;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

figcaption,
.caption {
  margin: 0;
  color: #fff;
  font-size: 0.8em;
  z-index: 1;
  position: absolute;
  bottom: 0.65%;
  right: 1%;
  text-align: right;
  width: 100%;
}

figcaption.centre {
  text-align: center;
}

figcaption .left {
  position: absolute;
  display: block;
  left: 1.5%;
  text-align: left;
}

figcaption.bothsides {
  right: 25px;
}

figcaption.bothsides .left {
  left: 45px;
}

h2.top {
  font-family: "Arimo", arial, helvetica, sans-serif;
  margin-top: 3%;
}

h2.bottom {
  font-size: 2.2em;
  font-weight: normal;
  height: 13%;
  bottom: 3%;
  position: absolute;
  text-align: center;
}

h2.central {
  font-family: "Arimo", arial, helvetica, sans-serif;
  margin-top: 25%;
}

h2.central em {
  font-family: "Arimo Italic", arial, helvetica, sans-serif;
}

h2.central.oneline {
  margin-top: 30%;
}

h2.central.threelines,
h2.central.withimage {
  margin-top: 20%;
}

h2.left {
  float: left;
  width: 45%;
  text-align: center;
  margin-top: 100px;
}

h2 small {
  font-size: 0.7em;
}

.twocols {
  margin-top: 7%;
}

.twocols .left {
  width: 50%;
  float: left;
}

.twocols .right {
  width: 50%;
  margin-left: 50%;
}

.smallimage {
  padding-top: 13%;
}

/* Slide-specific styles */

.slide.intro {
  background: url(../img/intro-slide-background.jpg) no-repeat top left;
  background-size: 100% 100%;
}

.intro h1,
.intro h2,
.intro h3 {
  position: relative;
  transform: rotate(-0.5deg);
  -webkit-transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  text-align: center;
  -webkit-text-stroke: 1px #000; /* #83c1f5; */
  text-shadow: 1px 1px 0px #000;
}

.intro h1 {
  top: 36%;
  left: 24%;
  width: 68%;
}

.intro h2 {
  font-size: 1.8em;
  left: 24%;
  width: 68%;
  margin-top: 38%;
}

.intro h3 {
  left: 24%;
  width: 68%;
  margin-top: 1%;
  -webkit-text-stroke: 0;
  text-shadow: 0;
}

#windowSize {
  color: #fff;
  margin-top: 6%;
  text-shadow: 2px 2px 2px #000, -1px -1px -1px #000;
}

#windowWidth,
#windowHeight {
  color: #c5e4fe;
}


.pearson img {
  display: block;
  padding-top: 27%;
  margin: 0 auto;
}

.what-ar-is figcaption {
  bottom: 19.4%;
}

.location-based-ar figcaption {
  position: relative;
  top: -3%;
  width: 55%;
  margin: 0 auto;
  text-align: right;
  right: auto;
}

.ar-on-the-go img,
.ar-in-the-home img {
  margin-top: 10%;
}

.langar-intro h2.central.withimage {
  margin-top: 0;
}

.langar-intro img {
  padding-top: 4em;
  position: relative;
  left: 6%;
}

.wikitude-intro img {
  padding-top: 1em;
}

.wikitude-architect img {
  padding-top: 13%;
}

.wikitude-com h2 {
  color: #ffb70a;
  text-shadow: 1px 1px 1px #94841b;
}

.wikitude-how h2 {
  letter-spacing:2px;
}

.amv h2 {
  line-height: 1em;
}

.amv img {
  margin-top: 3%;
}

.architect-results img {
  padding: 5% 0 2% 0;
}

.adding-locations pre {
  font-size: 1.05em;
  margin-top: 2em;
}

.custom-icons pre,
.audio pre,
.native pre {
  margin-top: 2em;
}

.custom-icons img {
  position: absolute;
  right: 35px;
  bottom: 5px;
}

.debugging img {
  float: right;
  padding-top: 1.5em;
  margin-right: 2.6%;
}

.debugging pre {
  padding-top: 3em;
  font-size: 1.25em;
}

.next-steps h2 {
  font-size: 2em;
  line-height: 1.4em;
}

.next-steps h2 strong {
  font-size:  1.3em;
}

.opera-webcam img {
  padding-top: 2em;
}

.opera-webcam figcaption {
  bottom: 3em;
}

.vertical-images img {
  display: block;
  margin: 0 auto;
  padding-top: 1em;
}

.vertical-images img:first-child {
  padding-top: 2em;
}

#webRTCDemo {
  margin-top: 5%;
  height: 386px;
}

.webrtc-demo .left {
  float: left;
  width: 50%;
}

.webrtc-demo .right {
  float: left;
  width: 50%;
}

.webrtc-demo canvas {
  float: right;
}

.webrtc-demo #debugCanvas {
  float: left;
}

.webrtc-code pre {
  margin-top: 2em;
}

.webrtc-code-two pre {
  margin-top: 1.5em;
}

.webrtc-code-three pre {
  margin-top: 2em;
}

.webrtc-demo .instructions {
  margin-top: 1.5em;
}

.cant-do-demo-message {
  display: none;
  margin-top: 10%;
}

.cant-do-demo-message h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.cant-do-demo-message h4 {
  margin-bottom: 0.5em;
}

.tutorial h3 {
  font-size: 2.4em;
  margin: 0.4em 0;
  color: #ffffff;
}

.future-will-be-augmented {
  background: url(../img/google-glasses-2.jpeg) no-repeat top left;
  background-size: 100% 100%;
}

.future-will-be-augmented h2 {
  color: #333;
  text-shadow: none;
}

.future-will-be-augmented h2 strong {
  font-family: "Arimo Bold", arial, helvetica, sans-serif;
}

.thankyou {
  background: url(../img/thankyou.png) no-repeat top left;
  background-size: 100% 100%;
}

.thankyou h2,
.thankyou h3,
.thankyou p {
  text-align: left;
  margin-left: 4%;
  color: #fff;
  text-shadow: 1px 1px 1px #1b5d94;
  width: 50%;
}

.thankyou h2 {
  margin-top: 2em;
  font-size: 3.4em;
}

.thankyou h3 {
  margin-top: 2.5em;
  font-size: 1.2em;
}

.thankyou h3 div {
  font-size: 1.2em;
  padding-top: 0.5em;
}

.thankyou p {
  margin-top: 4em;
  font-size: 1.1em;
}
